body {
    margin: 0px;
    background: lightgray;
    user-select: none;
}



.codeSpace {
    width: 45%;
    height: 30em;
    margin: 0px 15px;
    border-radius: 4px;
    background-color: black;

}

.editor::-webkit-scrollbar {
    width: 10px;
}

.editor::-webkit-scrollbar-thumb {
    height: 30%;
    background: #848484;
    border-radius: 10px;
}

.editor::-webkit-scrollbar-track {
    background: #84848447;
}

.colorWhite {
    color: whitesmoke !important;
}

.colorDark {
    background: #979797 !important;
}

.editor {
    background: #1e1e1e;
    color: white;
    border-radius: 4px;
    width: 100%;
    overflow-y: scroll;
    max-height: calc(100%);
}

.material-icons {
    color: grey;
    font-size: 32px;
    margin: 6px 4px;
    cursor: pointer;
}


.run {
    display: inline-block;
    background-color: rgb(44, 202, 181);
    color: white;
    position: relative;
    width: 40px;
    height: 25px;
    padding: 8px;
    margin-right: 30px;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 5px;
    cursor: pointer;

}

.diff {
    display: inline-block;
    background-color: #04AA6D;
    color: white;
    position: relative;
    width: 60px;
    padding: 8px;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 5px;
    cursor: pointer;
}

.footer {
    padding: 15px;
    height: 40px;
    background-color: rgb(44, 144, 202);
}

.run:hover {
    background: rgb(23, 136, 121);
}

.darkRun:hover {
    font-weight: 500;
    color: whitesmoke;
}

.dropdown {
    position: absolute;
    right: 5%;
    top: -22px;
    outline: none;
    border: none;
    padding: 4px 8px 6px;
    border-radius: 4px;
    margin-right: 20px;
    background-color: #1e1e1e;
    color: white;
}

.darkDD {
    background: #9f9f9f !important;
    color: whitesmoke;
    font-weight: bold;
}

.playground {
    position: relative;
    height: 60vh;
    width: 100%;
}