.MenuDiv {
    width: 100%; /* 각 MenuDiv가 가로를 꽉 채움 */
    transition: all 0.3s ease; /* 부드러운 전환 효과 */
    flex-grow: 0;
    overflow: visible; /* 스크롤바 없음 */
}

.MenuDiv > label {
    display: block; /* 라벨이 블록 레벨 요소로 표시됨 */
    width: 100%; /* 라벨이 가로를 꽉 채움 */
    text-align: center; /* 라벨 텍스트를 중앙 정렬 */
    background-color: green;
    padding: 10px 0; /* 라벨의 높이를 설정 */
}

.content-container {
    width: 100%; /* 내용 컨테이너가 가로를 꽉 채움 */
    max-height: 100%; /* 최대 높이 설정 */
    overflow: auto; /* 내용이 넘치면 스크롤 표시 */
}

.content {
    background-color: blueviolet; /* 배경색 설정 */
}

.MenuDiv.active {
    flex-grow: 1;
}
