.MenuDiv {
    width: 100%; /* 각 MenuDiv가 가로를 꽉 채움 */
    transition: all 0.3s ease; /* 부드러운 전환 효과 */
    flex-grow: 0;
    overflow: hidden;
    border: 1px black solid;
    min-height: 40px;
}

.MenuDiv.MenuDiv.active{
    flex-grow: 2;
}

.MenuDiv > label {
    display: block; /* 라벨이 블록 레벨 요소로 표시됨 */
    width: 100%; /* 라벨이 가로를 꽉 채움 */
    text-align: center; /* 라벨 텍스트를 중앙 정렬 */
    padding: 10px 0; /* 라벨의 높이를 설정 */
    overflow: visible;
    background-color: beige;
}

.content-container {
    width: 100%; 
    box-sizing: border-box;
}

.content {
    padding: 10px;
}

.MenuDiv.active .content-container{
    max-height:calc(100% - 35px);
    overflow: auto;
}
