textarea {
    width: 700px;
    /* 에디터 너비 조정 */
    height: 500px;
    /* 에디터 높이 조정 */
    border: none;
    overflow: scroll;
    resize: none;
    font-size: 1.0rem;
    margin-top:30px;
    margin-left:50px;
    margin-bottom: 50px;
}

h1 {
    color:white;
    font-weight: 400;
  }